.about-images-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-inline: 5%;
  .about-img {
    width: 100%;
  }
}

.about-titles-container {
  display: flex;
  padding: 5rem 0;
  justify-content: space-evenly;
  font-size: 1.2rem;
  color: $clr-t-secondary;
  i {
    padding-inline: 2rem;
  }
}
