.about-images-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-inline: 5%;
  .about-img {
    width: 100%;
  }
}

.about-titles-container {
  display: flex;
  padding: 5rem 0;
  justify-content: space-evenly;
  font-size: 1.2rem;
  color: $clr-t-secondary;
  i {
    padding-inline: 2rem;
  }
}


.about-text-container{
  display: flex;
justify-content: center;
  gap: 2rem;
  padding: 8rem;
}

.about-text-subcontainer{
  display: flex;
  flex-direction: column;
  width: 40%;
  
}
.about-secondary-text{
  color: $clr-t-secondary;
}

.about-main-text{
  color: $clr-t-primary;
  font-size: 1.8rem;
  font-weight: 500;
  
}

.sub-title{
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
}

.about-text-subcontainer-2{
  width: 35%;
}