header {
  background-image: url(../img/collect/one-page-slider-01.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-left-container {
  margin-left: 5%;
  margin-top: 20rem;
  @include responsive(tablet-m) {
    margin-left: 1%;
  }
}

.hero-carousel-container {
  margin-right: 5%;
  margin-left: auto;
  margin-top: 20rem;
  @include responsive(tablet-p) {
    background-image: radial-gradient(
      rgba(78, 78, 78, 0.062),
      rgba(0, 0, 0, 0)
    );
    box-shadow: rgba(46, 42, 42, 0.2) 0px 7px 29px 0px;
    border-radius: 2rem;
    z-index: 300;
  }
  @include responsive(tablet-m) {
    margin-right: 5%;
  }
}

.socials-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  .hero-socials-icon-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1.2rem;
    color: $clr-t-primary;
  }
  .social-text {
    writing-mode: vertical-rl;
    transform: scale(-1);
    font-size: 1.2rem;
    color: $clr-t-secondary;
  }
}

.carousel {
  font-size: 1.4rem;
  margin: 1rem;
  cursor: pointer;
  transition: all 1s;
}

.primary-heading {
  margin-top: 1rem;
  font-size: 4rem;
  line-height: 3.8rem;
  color: $clr-t-primary;
  @include responsive(tablet-p) {
    font-size: 3.4rem;
  }
  @include responsive(tablet-m) {
    font-size: 2.8rem;
  }
  @include responsive(tablet) {
    font-size: 2.2rem;
  }
}

.big-title {
  color: $white;
  position: absolute;
  font-size: 20rem;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  @include responsive(tablet-p) {
    font-size: 16rem;
  }
  @include responsive(tablet) {
    font-size: 10rem;
    bottom: -5%;
  }
}

.primary-heading-price {
  font-size: 1.6rem;
  padding: 2rem 0;
  .old-price {
    text-decoration: line-through;
  }
}

.primary-heading-top {
  color: $clr-t-primary;
  text-transform: uppercase;
  font-weight: 400;
}

.primary-heading-sub {
  padding-top: 2rem;
  width: 60%;
  color: $clr-t-secondary;
  font-size: 1.1rem;
}

// code pour le premier carousel

.first-carousel {
  width: 50vw;
  height: 30vh;
  position: relative;
  margin-top: 20rem;
  margin-left: 20rem;

  /* IN THE END */
  overflow: hidden;
  @include responsive(tablet-p) {
    margin-left: 10rem;
  }
  @include responsive(tablet-m) {
    width: 70vw;
    margin-left: 2rem;
  }
}

.hero-division-container {
  padding: 1rem;
  position: absolute;
  top: 0;
  width: 30vw;

  /* THIS creates the animation! */
  transition: transform 1s;
  @include responsive(tablet-m) {
    width: 80vw;
  }
}

.carousel-active {
  text-decoration: line-through;
}
