// Color variables
// $clr-primary : hsl(29, 79%, 95%);
// $white : hsl(0, 0%, 100%);
// $clr-footer : hsl(0, 0%, 14%);
// $clr-last-footer : hsl(120, 2%, 11%);

// $clr-grey : hsl(33, 11%, 81%);

// $clr-t-primary : hsl(120, 1%, 20%);
// $clr-t-secondary: hsl(33, 11%, 81%);

body {
  font-family: "Poppins", sans-serif;
}

nav {
  border-bottom: 1px solid $clr-grey;
  width: 100vw;
}
.main-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 5%;
  padding: 1.4rem;

  .main-nav-link-container {
    display: flex;
    gap: 2rem;
    font-size: 1.4rem;
    @include responsive(tablet-p) {
      display: none;
    }

    .main-nav-link:visited,
    .main-nav-link:link {
      text-decoration: none;
      color: $clr-last-footer;
      text-transform: uppercase;
    }
    .main-nav-link::after {
      display: block;
      content: "";
      border-bottom: solid 1px $clr-t-primary;
      transform: scaleX(0);
      transition: transform 150ms ease-in-out;
    }
    .main-nav-link:hover:after {
      transform: scaleX(1);
    }
    .main-nav-link:focus:after {
      transform: scaleX(1);
    }
    .sticky-link:link,
    .sticky-link:visited {
      color: $white;
    }
    .sticky-link::after {
      border-bottom: solid 1px $white;
    }
    .dark-link:link,
    .dark-link:visited {
      color: $white;
    }
    .dark-link::after {
      border-bottom: solid 1px $white;
    }
  }
  .main-nav-icon-container {
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    @include responsive(tablet-p) {
      display: none;
    }
    .main-nav-icon-link:visited,
    .main-nav-icon-link:link {
      color: $clr-last-footer;
    }
    .sticky-icon:visited,
    .sticky-icon:link {
      color: $white;
    }
    .dark-icon:visited,
    .dark-icon:link {
      color: $white;
    }
  }
}

// sticky Navigation
.dark-nav {
  background-color: rgb(14, 13, 13);
}

.sticky {
  position: fixed;
  top: 0;
  background-color: rgb(14, 13, 13);
  z-index: 2;
  border-bottom: none;
  @include responsive(tablet-p) {
    background-color: initial;
    background-image: linear-gradient(rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0));
  }
}

.fa-cart-shopping,
.fa-heart {
  position: relative;
}
.cart-number,
.like-number {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  position: absolute;
  top: -100%;
  right: -50%;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: rgb(82, 82, 82);
  color: $white;
}
.display-like {
  display: flex;
}
.display-cart {
  display: flex;
}
.mobile-navigation-btn {
  font-size: 3rem;
  display: none;
  z-index: 10000;
  @include responsive(tablet-p) {
    cursor: pointer;
    position: absolute;
    display: flex;
    top: 15px;
    right: 5%;
  }
}

.close-mobile-nav {
  font-size: 4rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 5%;
  display: none;
  z-index: 10000;
}

@include responsive(tablet-m) {
}
.main-nav-link-mobile {
  position: absolute;
  width: 25vw;
  height: 70vh;
  @include responsive(tablet) {
    width: 50vw;
  }
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: hsla(0, 0%, 25%, 0.176) 0px 7px 29px 0px;
  background-image: linear-gradient(10deg, #00000000, #3f3f3f2d);

  align-items: end;
  gap: 1.4rem;
  font-size: 2rem;
  padding-right: 5rem;
  padding-top: 5rem;
  border-radius: 0 0 0 7rem;
  display: none;
  @include responsive(tablet-p) {
    display: flex;
  }
  .main-nav-link:visited,
  .main-nav-link:link {
    text-decoration: none;
    color: $clr-last-footer;
    text-transform: uppercase;
  }
  .main-nav-link::after {
    display: block;
    content: "";
    border-bottom: solid 1px $clr-t-primary;
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
  }
  .main-nav-link:hover:after {
    transform: scaleX(1);
  }
  .main-nav-link:focus:after {
    transform: scaleX(1);
  }
}

.main-nav-icon-mobile {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10%;
  margin-right: 5%;
  font-size: 2.4rem;
  display: none;
  z-index: 10000;
  @include responsive(tablet-p) {
    display: flex;
  }

  .main-nav-icon-link:visited,
  .main-nav-icon-link:link {
    color: $clr-last-footer;
  }
}
