.recent-products-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-inline: 5%;
  gap: 1rem;
  padding-bottom: 8rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card-img {
  width: 100%;
}

.product-price {
  color: $clr-t-secondary;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.absolute-container {
  display: none;
}

.show {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.661);
  height: 4rem;
  width: 100%;
  bottom: 0;

  i {
    font-size: 1.6rem;
    color: $white;
    cursor: pointer;
  }
}

.name-price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
