// Hero section dark-mode

// About Section Dark Mode
.dark-mode-about {
  background-color: $clr-footer;
  color: $clr-t-secondary;
}
.dark-mode-main-text {
  color: white;
}

.dark {
  background-image: radial-gradient(
      hsla(0, 0%, 0%, 0.11),
      hsla(0, 0%, 0%, 0.342)
    ),
    url(../img/collect/one-page-slider-01.jpg);
}

.dark-title {
  color: $clr-footer;
}

.dark-mode {
  background-color: $clr-last-footer;
  color: $white;
}
