.btn{
    border: none;
    background-color: $clr-t-primary;
    color: $white;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
}

.primary-section-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1rem;
    margin: 4rem;
    .primary-section-title{
        font-weight: 400 ;
        color: $clr-t-primary;
    }    
    .primary-section-text-title{
        width: 60%;
        color: $clr-t-secondary;
    }
}
