// Color variables
$clr-primary: hsl(29, 79%, 95%);
$white: hsl(0, 0%, 100%);
$clr-footer: hsl(0, 0%, 15%);
$clr-last-footer: hsl(120, 2%, 11%);

$clr-grey: hsl(33, 11%, 81%);

$clr-t-primary: hsl(120, 1%, 20%);
$clr-t-secondary: hsl(0, 0%, 64%);
